@import "tailwindcss";
@plugin "daisyui" {
  themes: dark --default;
}

.active{
    color: red;
}

html,
body,
#root {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

#root {
    flex: 1;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}
